<nav class="navbar">
    <ul class="nav-list">
        <il><a href="#">Home</a></il>
        <il><a href="#">Custom</a></il>
        <il><a href="#">Sedan</a></il>
        <il><a href="#">SUV</a></il>
        <il><a href="#">Truck</a></il>
    </ul>
</nav>