<!----- Body Contenaire ------>
<body>

    <div class="page-border">

        <!-------- Main --------->
        <main>
            <section id="intro">
                <h1>Welcome to CSE Motors!</h1>
                <div class="delorean-showcase">
                    <div class="features">
                        <h2>DMC Delorean</h2>
                        <ul>
                            <li>3 Cup holders</li>
                            <li>Superman doors</li>
                            <li>Fuzzy dice</li>
                        </ul>
                        <button>Own Today</button>
                    </div>
                    <img class="img-case" src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
                </div>
            </section>

            <section class="info-columns">
                <div class="upgrades">
                    <h3>Delorean Upgrades</h3>
                    <ul class="upgrade-list">
                        <div>
                            <li><img src="/images/upgrades/flux-cap.png" alt="flux Capacitor"></li>
                            <a href="#">Flux Capacitor</a>
                        </div>
                        <div>
                            <li><img src="/images/upgrades/flame.jpg" alt="flame Decals"></li>
                            <a href="#">Flame Decals</a>
                        </div>
                        <div>
                            <li><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper Stickers"></li>
                            <a href="#">Bumper Stickers</a>
                        </div>
                        <div>
                            <li><img src="/images/upgrades/hub-cap.jpg" alt="hubcaps"></li>
                            <a href="#">Hub Caps</a>
                        </div>
                    </ul>
                </div>
                <div class="reviews">
                    <h3>DMC Delorean Reviews</h3>
                    <ul>
                        <li>“So fast it's like time travel!” (4/5)</li>
                        <li>“Coolest ride on the road.” (4/5)</li>
                        <li>“I'm feeling McFly!” (5/5)</li>
                        <li>“The most futuristic ride of our day.” (4.5/5)</li>
                        <li>“80's twin and I love it!” (5/5)</li>
                    </ul>
                </div>
            </section>
        </main>

    </div>
</body>
</html>
