<!----- Body Contenaire ------>
<body>

    <div class="page-border">

        <!-------- Main --------->
        <main>
            <section class="intro">
                <h2>Welcome to CSE Motors!</h2>
                <div class="delorean-showcase">
                    <div class="features">
                        <h3>DMC Delorean</h3>
                        <ul>
                            <li>3 Cup holders</li>
                            <li>Superman doors</li>
                            <li>Fuzzy dice</li>
                        </ul>
                        <button>Own Today</button>
                    </div>
                    <img src="delorean.png" alt="DMC Delorean">
                </div>
            </section>

            <section class="info-columns">
                <div class="upgrades">
                    <h3>Delorean Upgrades</h3>
                    <ul>
                        <li><img src="./images/flux-cap.png" alt="flux Capacitor"> Flux Capacitor</li>
                        <li><img src="flame.jpg" alt="flame Decals"> Flame Decals</li>
                        <li><img src="bumper-sticker.jpg" alt="bumper Stickers"> Bumper Stickers</li>
                        <li><img src="hub-cap.jpg" alt="hubcaps"> Hub Caps</li>
                    </ul>
                </div>
                <div class="reviews">
                    <h3>DMC Delorean Reviews</h3>
                    <ul>
                        <li>“So fast it's like time travel!” (4/5)</li>
                        <li>“Coolest ride on the road.” (4/5)</li>
                        <li>“I'm feeling McFly!” (5/5)</li>
                        <li>“The most futuristic ride of our day.” (4.5/5)</li>
                        <li>“80's twin and I love it!” (5/5)</li>
                    </ul>
                </div>
            </section>
        </main>

    </div>
</body>
</html>
