/* Base Styles (Mobile First) */
:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --quaternary-color: #303030;
  --quinary-color: #575751;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

#wrapper {
font-family: Arial, sans-serif;

border-radius: 5px;
margin: 0;
padding: 0;
}

body {
max-width: 800px;
margin: 0 auto;
background-image: url('../images/site/small-checke.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border: 8px solid var(--primary-color);
padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--quaternary-color);
  margin-bottom: 4rem;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  font-family: "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--quaternary-color);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

.account-link {
font-size: 0.9em;
color: var(--light-grey);
}

.intro {
  text-align: center;
  margin: 20px 0;
}

.delorean-showcase {
display: flex;
align-items: center;
justify-content: space-between;
gap: 20px;
flex-wrap: wrap;
}

.features {
  background: rgba(255, 255, 255, 0.5);
  color: #8a470c;

}
.features ul {
  list-style: none;
  padding: 0;
}

.features button {
background-color: #00aaff;
color: white;
border: none;
padding: 10px;
cursor: pointer;
}

.info-columns {
display: flex;
justify-content: space-between;
margin-top: 30px;
gap: 20px;
flex-wrap: wrap;
}

.upgrade-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
/* .upgrade-list a{ 
  font-size: 1rem;
} */
.upgrades, .reviews {
  flex: 1;
}

.upgrades ul, .reviews ul {
list-style: none;
padding: 0;
}

.upgrades li, .reviews li {
margin-bottom: 10px;
display: flex;
align-items: center;
}

.upgrades img {
width: 70px;
height: 70px;
margin-right: 10px;
}

footer {
text-align: center;
margin-top: 40px;
font-size: 0.8em;
color: gray;
}
