/* Base Styles (Mobile First) */
:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --quaternary-color: #303030;
  --quinary-color: #575751;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-image: url('../images/site/small_check.jpg');
  border-radius: 5px;
  margin: 0;
  padding: 1vw 5vw 1vw 5vw;
}

#wrapper {
  max-width: 800px;
  background: #FFFFFF;
  margin: 0 auto;
  border: 8px solid var(--primary-color);
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--quaternary-color);
  margin-bottom: 4rem;
}

header .siteName a{
  font-size: 2rem;
  font-weight: 600;
  color: var(--quinary-color);
}
header a {
  font-family: 'Trebuchet MS', sans-serif;
  text-decoration: none;
  margin: 0;
}
header h1 {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
}

/* Navigation Styles */
#navbar {
  display: flex;
  justify-content: center; 
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--primary-color);
}

.nav-list {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem; 
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
  
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--quaternary-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-list a.active {
  background-color: var(--secondary-color);
}

.account-link {
  font-size: 0.9em;
  color: var(--light-grey);
}

#intro {
  text-align: center;
  margin: 20px 0;
}

.delorean-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.img-case {
  position: relative;
  top: 0;
  right: 80px;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}
.features {
  background: rgba(192, 192, 8, 0.4);
  color: var(--tertiary-color);
  padding: 30px;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  margin: 18px 0;
  z-index: 1;
}
.features ul {
  list-style: none;
  padding: 0;
}

.features button {
  background-color: var(--tertiary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.info-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.upgrade-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 10px;
}
.upgrade-list div { 
  background: rgba(192, 192, 8, 0.4);
  padding: 8px;
} 
.upgrades, .reviews {
  flex: 1;
  line-height: 3rem;
}

.upgrades ul, .reviews ul {
  list-style: none;
  padding: 0;
}

.upgrades li, .reviews li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.upgrades img {
  width: 60px;
  height: 60px;
  margin-left: 50px;
}

footer p {
  font-weight: 600;
  font-size: 1em;
  color: var(--dark-grey);
}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.8em;
}


/* For tablets and below (768px) */
@media (max-width: 768px) {
body {
  padding: auto;
  background-image: none;
}
#wrapper {
  max-width: 800px;
  margin: 10px;
  border: none;
}
.delorean-showcase {
flex-direction: column;
text-align: center;
}

.info-columns {
flex-direction: column;
}

.upgrades ul {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
}
.upgrades div {
  padding: 10px 5px;
}
.upgrades img {
  width: 80px;
  height: 80px;
  margin-left: 10rem;
}

.upgrades li {
flex-direction: column;
align-items: center;
text-align: center;
width: 45%;
}
}

/* For phones and very small screens (360px and below) */
@media (max-width: 320px) {

body {
  padding: 0 1vw 0 1vw;
}
header {
padding: 0 auto;
}
header h1 {
font-size: 1.5em;
}
.nav ul {
width: 100%;
}
.account-link {
font-size: 0.8em;
}

.features ul li {
font-size: 0.9em;
}

.features button {
width: 100%;
}

.upgrades li {
width: 100%;
}
}
